target/
node_modules/
.svelte-kit/
.vite/
.pnpm-store/

.vscode
.wrangler

dist/

*.log

__pycache__/
*.pyc
.venv/

.zig-cache/
zig-out/

.build/

.idea/
.vscode/

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

pond
